.hero-image{
   background-image: url(file:///C:/Users/Helena%20Magsino/Downloads/O.B.webp)

.body {
    font-family: Arial, sans-serif;
}

.h1 {
    color: #0d6efd;
}
.h2 {
    font-size: 1.3rem;
    border-bottom: 2px solid #e9ecef;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.card {
    border-radius: 10px;
}
